/* * {
    box-sizing: border-box;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
button {
    width: 150px;
    height: 40px;
    border: none;
    color:#fff;
}
button:nth-child(1) {
    background-color: green;
}
button:nth-child(2) {
    background-color: orange;
}
button:nth-child(3) {
    background-color: purple;
} */

#container {
    display: flex;
}
.box {
    width: 120px;
    height: 40px;
    flex-wrap: wrap;
    margin: 4px;
    font-weight: bold;
    color: #fff;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.green {
    background-color: green;
}
.orange {
    background-color: orange;
}
.purple {
    background-color: purple;
}